SQLAlchemy~=1.4.36
py~=1.10.0
colorama~=0.4.4
pip~=21.2.4
toml~=0.10.2
cryptography~=35.0.0
tornado~=6.1
greenlet~=1.1.2
pycparser~=2.21
setuptools~=56.0.0
mypy~=0.910
attrs~=21.2.0
legacy~=0.1.6
pytest~=6.2.4
psycopg2~=2.9.2
bcrypt~=3.2.0